<% provide(:title, "Contact") %>
<h1>Contact Ghost</h1>
<a href="https://rails-project-ghostrooter.c9.io/static_pages/home"> Home Page</a>
<a href="https://rails-project-ghostrooter.c9.io/static_pages/weather_page"> WeatherAPI Page</a>
<a href="https://rails-project-ghostrooter.c9.io/static_pages/contact_page"> Contact Page</a>


<p>Find me in 1708 Wells Dr, Murray KY</p>
