<% provide(:title, "Home") %>
<h1>Home</h1>

<a href="https://rails-project-ghostrooter.c9.io/static_pages/home"> Home Page</a>
<a href="https://rails-project-ghostrooter.c9.io/static_pages/weather_page"> WeatherAPI Page</a>
<a href="https://rails-project-ghostrooter.c9.io/static_pages/contact_page"> Contact Page</a>

<p>Welcome to weather report home page</p>
